<div class="container">
  <form [formGroup]="formulario"  (ngSubmit)="validacionUsuario()" class="form">
    <div class="row">
      <div class="col-md-5">
        <mat-form-field appearance="fill" class="fill">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="usuario">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <mat-form-field appearance="fill" class="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="contrasena">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" >
        <button type="submit" mat-raised-button color="primary">Go</button>
      </div>
    </div>
  </form>
</div>
