.container{
  background-image: url(../../../../assets/images/banner-1.png);
  background-size:cover;
  background-position: center;
  width: 60%;
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .toggle{
    margin-top: 1rem;
  }
  .fill{
    color: white;
  }
}
