<div class="container">
  <a mat-button routerLink="/alumnos/agregar">Agregar Alumno</a>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Alumno</th>
          <th scope="col">Cursos</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let usuario of alumnos; let i = index" >
          <th scope="row">{{ i + 1 }}</th>
          <td>{{usuario | apellido}}</td>
          <td>{{ usuario.cursos }}</td>
          <td>
            <button mat-icon-button color="primary" (click)="deleteItem(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<button routerLink="/students/form">IR AL FORM</button>
<button routerLink="/students/edit-student">IR A EDICION ALUMNOS</button>
